body{
    background: #ffffff;
    padding-bottom: 100px;
}
#main {
    width: 900px;
    height: 750px;
}
#main img#splash {
    border: none;
    width: 900px;
    height: 651px;
    padding: 0;
}

#main #intro {
    width: 530px;
    margin-left: 120px;
    float: left;
}
#main #intro p {
    margin: 0 0 10px 0;
    padding: 0;
}
#main #go {
    width: 120px;
    float: right;
    text-align: right;
}
#main #go #read {
    font: 30px normal sans, arial;
}
#main #go #faq {
    font: 30px normal sans, arial;
}
#main #go #resource {
    font: 30px normal sans, arial;
}


