<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta property="og:title" content="Haskell 趣學指南" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://learnyouahaskell-zh-tw.csie.org" />
        <meta property="og:image" content="http://learnyouahaskell-zh-tw.csie.org/img/bird.png" />

        <style type="text/css">
            @import url(../css/style.css);
            @import url(../css/chapters.css);
        </style>

        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/jquery.chili-2.2.js"></script>
        <script type="text/javascript" src="../js/script.js"></script>
        <script type="text/javascript">
             ChiliBook.recipeFolder = "../js/chili/";  
             ChiliBook.automaticSelector = "pre";
        </script>

        <title>Haskell趣學指南 (Learn You a Haskell for Great Good! 繁體中文版)</title>
    </head>

    <body>
        <div id="header">
        </div>

        <div id="main">
            <h1>Haskell趣學指南</h1>
            <%= c.to_html %>
            <p> 本作品受<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">創用 CC BY-NC-SA 3.0</a> 保護</p>
            <br/>
            <br/>
            <br/>
        </div>
        <div id="footer">
        </div>
    </body>
</html>
