<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <style>
            @import url(css/style.css);
            h2 { font-size: 17px; }
        </style>

        <script src="js/jquery.js"></script>
        <script src="js/jquery.chili-2.2.js"></script>
        <script src="js/script.js"></script>
        <script>
             ChiliBook.recipeFolder = "js/chili/";  
             ChiliBook.automaticSelector = "pre";
        </script>

        <title><%= c.title %></title>
    </head>

    <body>
        <div id="header">
            <img id="beta" alt="beta" src="img/beta.png" />
        </div>

        <div id="main">

            <%= c.to_html %>

            <p style="display:block; width: 100%; text-align:center;"><a href="index.htm">返回</a></p>
        </div>

        <div id="footer">
        </div>

    </body>
</html>


