<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <style type="text/css">
            @import url(css/style.css);
        @media only screen and (min-device-width: 810px) {
            h2 { font-size: 17px; }
        }
        </style>

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.chili-2.2.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
        <script type="text/javascript">
             ChiliBook.recipeFolder = "/js/chili/";  
             ChiliBook.automaticSelector = "pre";
        </script>
        <title><%= c.title %></title>
    </head>

    <body>
        <div id="header">
        </div>
        <div id="main">
            <%= c.to_html %>
            <p style="display:block; width: 100%; text-align:center;"><a href="index.html">返回</a></p>
        </div>
        <div id="footer">
        </div>
    </body>
</html>
