* {
    margin: 0;
	/*padding: 0;*/
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), url(../fonts/NotoSansHant-Regular.otf) format('otf');
}

@media only screen and (min-device-width: 810px) {

body {
    font: normal 14px;
    font-family: "Noto Sans", Optima, Ubuntu, Verdana, "Hiragino Sans GB", "wenquanyi micro hei", Arial,serif,Courier New,黑体;
}

h1 {
    font: normal 60px;
    font-family: "Noto Sans", Optima, Ubuntu, Verdana, "Hiragino Sans GB", "wenquanyi micro hei", georgia,Arial,serif,Courier New;
    line-height: 80px;
    margin-top: 30px;
}

h2 {
    font: bold 30px Arial,serif;
    font-family: "Noto Sans", Optima, Ubuntu, Verdana, "Hiragino Sans GB", "wenquanyi micro hei";
    margin-top: 40px;
}

p {
    font: normal 14px;
    font-family: "Noto Sans", Optima, Ubuntu, Verdana, "Hiragino Sans GB", "wenquanyi micro hei", Arial, serif;
    line-height: 25px;
    margin: 13px 0 13px 0;
}

p code {
    background: #eee;
    font: normal 15px;
    font-family: Monaco, "wenquanyi micro hei mono", "Courier New", "Consolas", monospace;
    overflow: auto;
    padding: 0 6px 0 6px;
    margin: 0 6px 0 6px;
    white-space: nowrap;
}

p strong {
    background: #c00;
    color: #fff;
    font: normal 15px Monaco, "wenquanyi micro hei mono", "Courier New", "Consolas", monospace;
    padding: 2px 3px 2px 3px;
    margin: 0 3px 0 3px;
}
p a {
    margin: 0px 3px;
}
p b {
    padding: 2px 3px 2px 3px;
}
p img {
     vertical-align:middle;
}

img {
    padding: 20px;
}

pre.code {
    background: #000;
    font-family: Monaco, "wenquanyi micro hei mono", "Courier New", "Consolas", monospace;
    font-size: 14px;
    
    color: #fff;
    padding: 10px;
    margin-bottom: 25px;
    overflow: auto;
}

blockquote {
    background: #ffffcc url(../img/note.jpg);

    padding: 10px;
    margin-bottom: 25px;
    overflow: auto;
}
blockquote p {
    margin: 0px;
}

/**************************************************************/
ul.nav {
    list-style-type: disc;
    list-style-position: outside;

    max-width: 800px;
    height: 30px;
    margin: 25px auto 25px auto;
}
ul.nav li { display: block; max-width: 250px; height: 30px; font-size:17px; width: 33% }
ul.nav img { height: 17px; max-width: 20px; padding: 0; margin: 0;}

ul.nav .left { left: 10px; float: left; text-align: left; }
ul.nav .center { text-align: center; float: left; }
ul.nav .right { right: 10px; float: right; text-align: right; }

/**************************************************************/
div#header {
    margin: 0 auto;

    background: url(../img/bg.png);
    height: 50px;
}

div#header #beta {
    right: 15px;
    top: 10px;
    position: absolute;
    padding: 10px 30px 0 0;
}

div#main {
    max-width: 810px;
    margin: 10px auto 0 auto;
}

div#footer {
    margin: 0 auto;

    background: url(../img/bg.png);
    height: 70px;
}

}


@media amzn-mobi, amzn-kf8 {

div#header {
    margin: 0 auto;
    background: url(../img/bg.png);
    height: 50px;
    width: 100%;
    /*position: fixed;*/
}

div#header #beta {
    right: 15px;
    /*top: 10px;*/
    position: absolute;
    padding: 10px 30px 0 0;
}

img#beta { display: none; }


div#main {
    padding-top: 40px;
    position: float;
}

div#footer {
    margin: 0 auto;

    background: url(../img/bg.png);
    height: 70px;
    width: 100%;
}

/**************************************************************/
ul.nav {
    list-style-type: disc;
    list-style-position: outside;
    height: 120px;
    margin-bottom: 25px;
    font-family: 'Noto Sans', sans-serif;
}
p + ul.nav {
    margin-top: 25px;
    margin-bottom: auto;
}
ul.nav li { display: block; width: 33%; height: 120%; }
ul.nav img { height: 17px; max-width: 20px; padding: 0; margin: 0;}

ul.nav .left   { text-align: left; float: left; left: 10px; }
ul.nav .center { text-align: center; float: left; }
ul.nav .right  { text-align: right; float: right; right: 10px; }

/**************************************************************/
h1 {
    font-family: 'Noto Sans', sans-serif, serif;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Noto Sans', sans-serif, serif;
    margin-bottom: 20px;
}

p {
    font-family: 'Noto Sans', Arial, serif;
    line-height: 150%;
    margin: 24px 0 24px 0;
}

img {
    padding: 10px;
}

img.floatright { max-width: 33%; }
img.floatleft  { max-width: 33%; }

/**************************************************************/
pre.code {
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #888;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 100%;
    padding: 10px 0 10px 16px;
    margin: 24px 0 24px 0;
    overflow: auto;
    line-height: 100%;
    white-space: pre-wrap;
}

p code {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: bolder;
    font-size: 100%;
    padding: 0 2px 0 2px;
    margin: 0 3px 0 3px;
    overflow: auto;
    /*white-space: pre-line;*/
}

p strong {
    background: #ddd;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: lighter;
    font-size: 105%;
    padding: 1px 3px 1px 3px;
    margin: 0 3px 0 3px;
}

}

